@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noticia+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
html {
  margin: 0;
  background-color: #5a4242;
  font-size: 10px;
}

#navbar {
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 6rem;
  color: #fff;
  transform: translateY(-6rem);
  z-index: 2;
}

#navbar #menu-list {
  padding: 0;
  position: absolute;
  left: 2rem;
  font-family: 'Big Shoulders Text', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar #menu-list .nav-link {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: .15rem;
  margin-right: 1.2rem;
  padding: .1rem .4rem;
  text-transform: uppercase;
  cursor: pointer;
}

#navbar #menu-list .navbar-item:last-child .nav-link {
  margin-right: 0;
}

#navbar #menu-list .nav-link:hover {
  color: #df9a92;
}

#navbar #social-icons {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}

#navbar #social-icons i {
  padding: 5px;
  font-size: 1.5rem;
  color: #fff;
}

#navbar #social-icons i:hover {
  color: #df9a92;
}

.selected {
  border: 0.15rem solid #df9a92;
  border-radius: .5rem;
  box-sizing: border-box;
}

#navbar.menu-scrolled-down {
  transform: translateY(0);
  transition: all 1s;
}

#navbar.scroll {
  position: fixed;
  background-color: #2a3838;
  border-bottom: 0.5px solid #546e6e;
  transition: all 1s;
}

#navbar.scroll .selected {
  border: 0.15rem solid #df9a92;
}

@media screen and (max-width: 991px) {
  #navbar {
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  #navbar #button {
    padding: 2px;
    font-size: 2rem;
    border: #fff 1px solid;
    color: #fff;
  }
  #navbar #menu-list {
    width: 100%;
    position: relative;
    left: 0;
    margin-top: .5rem;
    text-align: center;
  }
  #navbar #menu-list .navbar-item {
    width: 90%;
    margin: 0 auto;
  }
  #navbar #menu-list .navbar-item .nav-link {
    width: 100%;
  }
  #navbar.scroll {
    opacity: 0.95;
  }
}

@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  /* IE10+ CSS styles go here */
  #navbar #menu-list {
    margin-top: -20px;
  }
}

#logo-audio-coscmos {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#logo-audio-coscmos video {
  width: 100% !important;
  height: auto !important;
  margin-top: 4rem;
}

#home {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #030303;
  position: relative;
}

#home .items-container {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

#home .items-container .item {
  position: absolute;
  width: 100%;
  height: 60vh;
  opacity: 0;
  transition: opacity 2s ease;
  background-position: bottom;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#home .items-container .item--uno {
  background-image: url("../img/slider/uno.jpg");
}

#home .items-container .item--dos {
  background-image: url("../img/slider/dos.jpg");
}

#home .items-container .item--tres {
  background-image: url("../img/slider/tres.jpg");
}

#home .items-container .item.visible {
  opacity: 1;
}

#home .arrows {
  z-index: 1;
  font-size: 2.5rem;
  color: #fff;
  position: absolute;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

#home .arrows .arrow {
  background-color: rgba(255, 255, 255, 0.315);
  padding: 2.3rem 1.3rem;
  opacity: .5;
  transition: all .2s;
  border-radius: .5rem;
  cursor: pointer;
}

#home .arrows .arrow:hover {
  opacity: 1;
}

#home .arrows .arrow:active {
  background-color: #bb6969;
}

#home .dots {
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 1rem;
  display: inline-flex;
  justify-content: center;
}

#home .dots .dot {
  width: 1rem;
  height: 1rem;
  background-color: #e6dada;
  border-radius: 50%;
  margin: .5rem;
  cursor: pointer;
}

#home .dots .dot.active {
  background-color: #df6358;
}

#home #information {
  z-index: 1;
  width: 800px;
  position: absolute;
  top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  /*h1 {
      color:$title-color;
      font-family: 'Merriweather Sans', sans-serif;
      font-size: 10rem;
      line-height: 1;
      letter-spacing: .3rem;
      border-top:  #fff 2px solid;
      border-bottom: #fff 2px solid;
      margin-bottom: 2rem;
    }*/
}

#home #information #text-introduccion {
  background-color: rgba(0, 0, 0, 0.513);
  border: 2px solid #413e3e;
  border-radius: .5rem;
  box-shadow: 0px 50px 60px -25px rgba(0, 0, 0, 0.774);
  -moz-box-shadow: 0px 50px 60px -25px black;
  -webkit-box-shadow: 0px 50px 60px -25px black;
  -ms-box-shadow: 0px 50px 60px -25px black;
  height: auto;
  width: 100%;
  padding: 3rem 1rem;
}

#home #information #text-introduccion p {
  display: block;
  color: #fff;
  font-size: 2rem;
  font-family: 'Noticia Text', serif;
  letter-spacing: .15rem;
  text-align: center;
}

#home #information #text-introduccion p #cosmos-span {
  color: #ABA561;
  font-weight: 400;
  font-size: 2.5rem;
}

#home #information #text-introduccion #line {
  border: 1px solid #646464;
}

#home #information #text-introduccion p #descarga {
  font-size: 1.9rem;
  color: #df6358;
  animation: blink .8s linear infinite;
}

#home #information #text-introduccion p a {
  font-size: 1.9rem;
  color: #ABA561;
}

@keyframes blink {
  40% {
    opacity: .4;
  }
  60% {
    opacity: .6;
  }
  80% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

#home::before {
  content: "";
  width: 100%;
  height: 60vh;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url("../img/what-the-hex-dark.png");
  background-repeat: repeat;
  opacity: .7;
  z-index: 1;
}

#album-section {
  border-top: 2.5rem rgba(26, 21, 12, 0.836) solid;
  border-bottom: 2.5rem rgba(26, 21, 12, 0.836) solid;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #3f4949, #5f7070, #485858, #5f7070, #3f4949);
  padding: 80px 0;
  background-attachment: fixed;
}

#album-section .title-section {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  border-bottom: 0.3rem solid #df6358;
  font-family: 'Righteous', cursive;
}

#album-section .items-container {
  max-width: 1150px;
  background-color: rgba(83, 80, 80, 0.733);
  border: 0.3rem solid #9e9595;
  border-radius: 1rem;
  padding: 1rem;
}

#album-section .items-container .item {
  padding: 1rem;
}

#album-section .items-container .item .portada-and-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#album-section .items-container .item .portada-and-description .img-container {
  width: 30%;
}

#album-section .items-container .item .portada-and-description .img-container .album-title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  margin: 0;
  background-color: #353d3d;
  border-top: 1.5px solid #546e6e;
  text-transform: uppercase;
  padding: .5rem;
}

#album-section .items-container .item .portada-and-description .img-container .img-album {
  width: 100%;
  height: auto;
  border: 2px solid #413e3e;
  border-radius: .5rem;
  box-shadow: 0px 50px 60px -25px rgba(0, 0, 0, 0.774);
  -moz-box-shadow: 0px 50px 60px -25px black;
  -webkit-box-shadow: 0px 50px 60px -25px black;
  -ms-box-shadow: 0px 50px 60px -25px black;
  border-radius: 0 0 1rem 1rem;
  border: 2px solid #c2b188;
}

#album-section .items-container .item .portada-and-description .txt-and-playlist {
  width: 70%;
}

#album-section .items-container .item .portada-and-description .txt-and-playlist p {
  display: block;
  color: white;
  font-size: 1.25rem;
  font-family: 'Noticia Text', serif;
  letter-spacing: .15rem;
  text-align: center;
  padding: 0 2rem;
}

#album-section .items-container .item .portada-and-description .txt-and-playlist p a {
  color: #ee9595;
  font-weight: bolder;
}

#album-section .items-container .item .portada-and-description .txt-and-playlist hr {
  margin: 1.5rem auto;
  width: 90%;
  border: 0.4px #e2dbdb dotted;
}

#album-section .items-container .item .portada-and-description .txt-and-playlist .playlist-container {
  width: 90%;
  margin: auto;
}

#album-section .items-container .item .portada-and-description .txt-and-playlist .playlist-container #spotify-title {
  margin: 0;
  padding: .5rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-color: #353d3d;
  border-top: 1.5px solid #546e6e;
}

#album-section .items-container .item .portada-and-description .txt-and-playlist .playlist-container iframe {
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  border-right: 0.5px solid #201609;
  height: 19rem;
}

#video-section {
  background-color: #0f0f0f;
  width: 100%;
  height: auto;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#video-section .title-section {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  border-bottom: 0.3rem solid #df6358;
  font-family: 'Righteous', cursive;
}

#video-section .items-container {
  width: 50%;
  height: 100%;
}

#video-section .items-container .item {
  padding-bottom: 6rem;
  display: none;
  transition: opacity .6s ease-in;
}

#video-section .items-container .item .video {
  height: 100%;
  position: relative;
  border: 0.4rem solid white;
  border-radius: 1rem;
  box-sizing: border-box;
}

#video-section .items-container .item .video iframe {
  border-radius: 1rem;
}

#video-section .items-container .item .video-title {
  height: 4.5rem;
  color: #fff;
  background-color: rgba(129, 43, 43, 0.836);
  border: 0.3rem solid #7c4747;
  border-radius: 1rem;
  margin: auto;
  width: 60%;
  box-sizing: border-box;
  margin-top: .5rem;
}

#video-section .items-container .item .video-title h2 {
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: .3rem;
  font-size: 2rem;
  height: 100%;
  padding: .6rem;
}

#video-section .items-container .item.visible {
  display: block;
  transition: opacity .6s ease-in;
  z-index: 1;
}

#video-section .arrows {
  z-index: 0;
  font-size: 3.5rem;
  color: #fff;
  position: absolute;
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
}

#video-section .arrows .arrow {
  cursor: pointer;
  padding: 1rem;
  border-radius: .5rem;
}

#video-section .arrows .arrow:hover {
  background-color: rgba(128, 128, 128, 0.356);
  transition: all .6s;
}

#fechas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
  width: 100%;
  height: auto;
  position: relative;
  border-top: 2.5rem rgba(26, 21, 12, 0.897) solid;
  border-bottom: 2.5rem rgba(26, 21, 12, 0.897) solid;
}

#fechas .title-section {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  border-bottom: 0.3rem solid #df6358;
  font-family: 'Righteous', cursive;
  z-index: 1;
}

#fechas #back-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/slider/uno.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#fechas #info-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
}

#fechas #info-container #lista-eventos {
  color: #fff;
  width: 100%;
  height: auto;
  list-style-type: none;
  text-transform: uppercase;
  padding-left: 0;
  border: 2px solid #413e3e;
  border-radius: .5rem;
  box-shadow: 0px 50px 60px -25px rgba(0, 0, 0, 0.774);
  -moz-box-shadow: 0px 50px 60px -25px black;
  -webkit-box-shadow: 0px 50px 60px -25px black;
  -ms-box-shadow: 0px 50px 60px -25px black;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 1rem;
}

#fechas #info-container #lista-eventos .event-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Serif', serif;
  border-bottom: .1rem #fff dotted;
  padding: 1rem 0;
}

#fechas #info-container #lista-eventos .event-item .date-container {
  width: 20%;
}

#fechas #info-container #lista-eventos .event-item .date-container .date {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F23725;
  width: 7rem;
  -webkit-box-shadow: 6px 8px 13px -3px #000a03;
  -moz-box-shadow: 6px 8px 13px -3px #000a03;
  box-shadow: 6px 8px 13px -3px #000a03;
  -ms-box-shadow: 6px 8px 13px -3px #000a03;
}

#fechas #info-container #lista-eventos .event-item .date-container .date .day {
  font-size: 3.5rem;
  margin-bottom: -15px;
}

#fechas #info-container #lista-eventos .event-item .date-container .date .month {
  font-size: 2.5rem;
  margin-bottom: -5px;
}

#fechas #info-container #lista-eventos .event-item .date-container .date .year {
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

#fechas #info-container #lista-eventos .event-item .info-date-container {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fechas #info-container #lista-eventos .event-item .info-date-container .city {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 1rem;
  font-size: 1.5rem;
  border: 2px #fff solid;
}

#fechas #info-container #lista-eventos .event-item .info-date-container .venue-container {
  width: 65%;
}

#fechas #info-container #lista-eventos .event-item .info-date-container .venue-container .venue {
  font-size: 1.5rem;
  text-align: center;
}

#fechas #info-container #lista-eventos .event-item .info-date-container .venue-container .venue a {
  color: #fff;
}

#fechas #info-container #lista-eventos .event-item .info-date-container .venue-container .hour {
  font-size: 1.5rem;
  color: #e76161;
  font-weight: bold;
}

#fechas #info-container #lista-eventos .event-item:last-child {
  border-bottom: 0 #fff dotted;
}

#fechas::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(37, 35, 35, 0.774);
  background-image: url("../img/what-the-hex-dark.png");
  background-repeat: repeat;
  opacity: .65;
}

#gallery-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
  height: auto;
  position: relative;
}

#gallery-section #background-gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/back-gallery-section.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#gallery-section .title-section {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  border-bottom: 0.3rem solid #df6358;
  font-family: 'Righteous', cursive;
  color: black;
  z-index: 1;
}

#gallery-section .items-containter {
  position: relative;
  padding: 0rem;
  width: 70%;
  height: auto;
  background-color: rgba(44, 53, 61, 0.767);
  border-radius: .5rem;
  z-index: 1;
  padding: 1rem;
}

#gallery-section .items-containter .item {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
  align-items: center;
  z-index: 1;
}

#gallery-section .items-containter .item .img-container {
  border: 1px solid #beb8b8;
  padding: .5rem;
}

#gallery-section .items-containter .item .img-container img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

#gallery-section .lightbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 19, 19, 0.76);
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  z-index: 2;
}

#gallery-section .lightbox-container .close-button {
  position: absolute;
  cursor: pointer;
  top: 4rem;
  right: 6rem;
  font-size: 5rem;
  color: #c56565;
  z-index: 100;
}

#gallery-section .lightbox-container .lightbox-item {
  width: 55%;
  background-color: rgba(233, 233, 233, 0.904);
  position: absolute;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 16px 1px black;
  -moz-box-shadow: 4px 4px 16px 1px black;
  box-shadow: 4px 4px 16px 1px black;
  border-bottom: 0.2rem solid #1f1d1d;
  border-right: 0.2rem solid #1f1d1d;
  border-left: .2rem solid #fff;
  border-top: .2rem solid #fff;
  opacity: 0;
  visibility: hidden;
}

#gallery-section .lightbox-container .lightbox-item .lb-img {
  width: 100%;
  height: auto;
  border-radius: .5rem;
  border-left: 0.2rem solid #1f1d1d;
  border-top: 0.2rem solid #1f1d1d;
  border-right: .2rem solid #fff;
  border-bottom: .2rem solid #fff;
  box-sizing: border-box;
}

#gallery-section .lightbox-container .lightbox-item.visible {
  visibility: visible;
  opacity: 1;
  transition: all .7s;
}

#gallery-section .lightbox-container .arrows {
  position: absolute;
  font-size: 4rem;
  color: #fff;
  width: 70%;
  display: inline-flex;
  justify-content: space-between;
}

#gallery-section .lightbox-container .arrows .arrow {
  padding: 2rem;
  background-color: rgba(228, 213, 213, 0.637);
}

#gallery-section .lightbox-container .arrows #left-arrow {
  border-radius: 1rem 0 0 1rem;
}

#gallery-section .lightbox-container .arrows #right-arrow {
  border-radius: 0 1rem 1rem 0;
}

#gallery-section .lightbox-container .arrows .arrow:hover {
  background-color: rgba(230, 180, 180, 0.5);
  transition: all .2s;
}

#gallery-section .lightbox-container.active {
  visibility: visible;
  opacity: 1;
  transition: all .6s;
}

#contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #0f0f0f;
  padding: 100px 0;
}

#contacto .title-section {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  border-bottom: 0.3rem solid #df6358;
  font-family: 'Righteous', cursive;
  margin: 2rem;
}

#contacto #info-container {
  width: 40%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 2rem;
  background-color: black;
  border-radius: 1rem;
}

#contacto #info-container #band-members {
  padding: 2rem;
  margin: auto;
  width: 90%;
  background-color: #2e3533;
}

#contacto #info-container .member {
  font-size: 1.3rem;
  letter-spacing: .15rem;
  color: #fff;
  font-family: 'Noticia Text', serif;
}

#contacto #info-container .member .name-member {
  text-transform: uppercase;
  color: #9c975d;
  font-size: 1.5rem;
  font-weight: 800;
}

#contacto #info-container .subtitle {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  border-bottom: 0.2rem solid #b45d5d;
  font-family: 'Righteous', cursive;
  width: 50%;
  text-align: center;
  margin: auto;
}

#contacto #info-container #contacto-email {
  font-size: 1.8rem;
  letter-spacing: .18rem;
  color: #fff;
  font-family: 'Big Shoulders Text', cursive;
}

footer {
  padding: 100px 0;
  width: 100%;
  background-color: #2b2a2a;
}

footer #social-container {
  border-right: 1px dotted gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer #social-container .subtitle {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  border-bottom: 0.2rem solid #b45d5d;
  font-family: 'Righteous', cursive;
  width: 20%;
  text-align: center;
  margin-bottom: 2rem;
}

footer #social-container #icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  display: -ms-grid;
  -ms-grid-columns: auto auto auto auto;
  align-items: center;
  align-self: center;
  grid-gap: 2rem;
  width: auto;
}

footer #social-container #icons .social-icon {
  position: relative;
  width: 100px;
  height: 100px;
  padding-bottom: 1rem;
  border-radius: 1rem 1rem 0 0;
  border: 1.5px solid #5d745d;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C4540;
}

footer #social-container #icons .social-icon i {
  padding-bottom: 1rem;
  font-size: 3.5rem;
  color: #7b9c8e;
}

footer #social-container #icons .social-icon .social-name {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #6CA89D;
  color: #fff;
  width: 100%;
  font-size: 1.7rem;
  text-align: center;
  font-weight: 600;
}

footer #social-container #icons .social-icon:hover {
  background-color: #6CA89D;
}

footer #social-container #icons .social-icon:hover i {
  color: #fff;
}

footer #social-container #icons .social-icon:hover .social-name {
  background-color: #2C4540;
  color: #fff;
}

@media screen and (max-width: 980px) {
  #logo-audio-coscmos {
    height: 30vh;
  }
  #home {
    height: 45vh;
  }
  #home .items-container {
    height: 45vh;
  }
  #home .items-container .item {
    height: 100%;
  }
  #home .items-container .item--uno {
    content: url("../img/slider/uno-mobile.jpg");
  }
  #home .items-container .item--dos {
    content: url("../img/slider/dos-mobile.jpg");
  }
  #home .items-container .item--tres {
    content: url("../img/slider/tres-mobile.jpg");
  }
  #home .arrows {
    font-size: 2rem;
  }
  #home .arrows .arrow {
    padding: 2.2rem 1.2rem;
  }
  #home .dots .dot {
    width: 6px;
    height: 6px;
  }
  #home #information {
    width: 75%;
    /*h1 {
        font-size: 6.5vw;
        margin-bottom: 2rem;
      }*/
  }
  #home #information #text-introduccion {
    width: 100%;
  }
  #home #information #text-introduccion p {
    font-size: 1.3rem;
  }
  #home #information #text-introduccion p #cosmos-span {
    font-weight: 600;
    font-size: 1.5rem;
  }
  #home #information #text-introduccion p #descarga {
    font-size: 1.3rem;
  }
  #home #information #text-introduccion p a {
    font-size: 1.3rem;
  }
  #home::before {
    height: 45vh;
  }
  #album-section .items-container {
    width: 80%;
  }
  #album-section .items-container .item .portada-and-description {
    flex-direction: column;
  }
  #album-section .items-container .item .portada-and-description .img-container {
    width: 40%;
    padding-bottom: 1.5rem;
  }
  #album-section .items-container .item .portada-and-description .img-container .album-title {
    font-size: 2rem;
  }
  #album-section .items-container .item .portada-and-description .txt-and-playlist {
    width: 95%;
  }
  #album-section .items-container .item .portada-and-description .txt-and-playlist p {
    width: 100%;
    padding: 0;
    font-size: 1.4rem;
  }
  #album-section .items-container .item .portada-and-description .txt-and-playlist .playlist-container {
    width: 90%;
  }
  #album-section .items-container .item .portada-and-description .txt-and-playlist .playlist-container iframe {
    height: 170px;
  }
  #video-section .title-section {
    margin-bottom: 2.5rem;
  }
  #video-section .items-container {
    width: 80%;
  }
  #video-section .items-container .item .video {
    border: 0.2rem solid white;
    border-radius: .5rem;
  }
  #video-section .items-container .item .video-title {
    border-radius: .5rem;
    width: 50%;
  }
  #video-section .items-container .item .video-title h2 {
    font-size: 1.7rem;
    padding: 1rem;
  }
  #video-section .arrows {
    font-size: 2rem;
    width: 95%;
  }
  #fechas {
    padding: 150px 0;
  }
  #fechas #back-container {
    content: url("../img/slider/uno-mobile.jpg");
  }
  #fechas #info-container {
    width: 550px;
  }
  #fechas #info-container #lista-eventos .event-item .date-container .date {
    width: 7rem;
  }
  #fechas #info-container #lista-eventos .event-item .date-container .date .day {
    font-size: 3rem;
  }
  #fechas #info-container #lista-eventos .event-item .date-container .date .month {
    font-size: 2rem;
  }
  #fechas #info-container #lista-eventos .event-item .date-container .date .year {
    font-size: 1rem;
  }
  #fechas #info-container #lista-eventos .event-item .info-date-container .city {
    padding: 1rem;
    border: 1px #fff solid;
    font-size: 1.3rem;
  }
  #fechas #info-container #lista-eventos .event-item .info-date-container .venue-container .venue {
    font-size: 1.5rem;
  }
  #fechas #info-container #lista-eventos .event-item .info-date-container .venue-container .hour {
    font-size: 1.3rem;
  }
  #gallery-section .items-containter {
    padding: 1rem;
    width: 80%;
  }
  #gallery-section .items-containter .item {
    padding: .5rem;
    grid-template-columns: auto auto auto;
    grid-gap: .5rem;
  }
  #gallery-section .items-containter .item .img-container img {
    padding: .4rem;
  }
  #gallery-section .lightbox-container .close-button {
    font-size: 4rem;
  }
  #gallery-section .lightbox-container .lightbox-item {
    width: 75%;
    padding: .5rem;
  }
  #gallery-section .lightbox-container .arrows {
    font-size: 2rem;
    width: 90%;
  }
  #gallery-section .lightbox-container .arrows .arrow {
    padding: 1rem;
  }
  #contacto #info-container {
    width: 70%;
    padding: 1rem;
  }
  #contacto #info-container #band-members {
    width: 100%;
  }
  #contacto #info-container .member {
    font-size: 1.4rem;
  }
  #contacto #info-container .member .name-member {
    font-size: 1.6rem;
    font-weight: 600;
  }
  #contacto #info-container .subtitle {
    font-size: 2rem;
    width: 60%;
  }
  #contacto #info-container #contacto-email {
    font-size: 1.7rem;
  }
  footer {
    padding: 50px 0;
  }
  footer #social-container .subtitle {
    font-size: 2rem;
    width: 20%;
  }
  footer #social-container #icons {
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
  }
  footer #social-container #icons .social-icon {
    width: 80px;
    height: 80px;
    border: 1px solid #5d745d;
  }
  footer #social-container #icons .social-icon i {
    font-size: 2.8rem;
    color: #7b9c8e;
  }
  footer #social-container #icons .social-icon .social-name {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  #logo-audio-coscmos {
    height: 25vh;
  }
  #home {
    height: 35vh;
  }
  #home .items-container {
    height: 35vh;
  }
  #home .items-container .item {
    height: 100%;
  }
  #home .arrows {
    visibility: hidden;
  }
  #home #information {
    width: 80%;
    /*h1 {
        font-size: 6vw;
        margin-bottom: 1rem;
      }*/
  }
  #home #information #text-introduccion {
    width: 100%;
    padding: .4rem;
  }
  #home #information #text-introduccion p {
    font-size: 1.8vw;
  }
  #home #information #text-introduccion p #descarga {
    font-size: 1rem;
  }
  #home #information #text-introduccion p a {
    font-size: 1rem;
  }
  #home::before {
    height: 35vh;
  }
  #album-section {
    padding: 50px 0;
  }
  #album-section .title-section {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  #album-section .items-container {
    width: 90%;
  }
  #album-section .items-container .item .portada-and-description .img-container {
    width: 50%;
    padding-bottom: 1.5rem;
  }
  #album-section .items-container .item .portada-and-description .img-container .album-title {
    font-size: 1.5rem;
  }
  #album-section .items-container .item .portada-and-description .txt-and-playlist {
    width: 100%;
  }
  #album-section .items-container .item .portada-and-description .txt-and-playlist p {
    font-size: 2.1vw;
  }
  #album-section .items-container .item .portada-and-description .txt-and-playlist .playlist-container {
    width: 100%;
  }
  #video-section {
    padding: 50px 0;
  }
  #video-section .title-section {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  #video-section .items-container {
    width: 90%;
  }
  #video-section .items-container .item .video-title {
    border-radius: .4rem;
    width: 80%;
    height: 3rem;
  }
  #video-section .items-container .item .video-title h2 {
    font-size: 1.5rem;
    padding: .2rem;
  }
  #video-section .arrows {
    position: relative;
    bottom: 5.5rem;
    width: 90%;
  }
  #fechas {
    padding: 100px 0;
  }
  #fechas .title-section {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  #fechas #info-container {
    width: 80%;
  }
  #fechas #info-container #lista-eventos .event-item {
    padding: 1rem 0;
  }
  #fechas #info-container #lista-eventos .event-item .date-container .date {
    width: 5rem;
    margin: 0;
  }
  #fechas #info-container #lista-eventos .event-item .date-container .date .day {
    font-size: 2.6rem;
  }
  #fechas #info-container #lista-eventos .event-item .date-container .date .month {
    font-size: 1.6rem;
  }
  #fechas #info-container #lista-eventos .event-item .date-container .date .year {
    font-size: .8rem;
  }
  #fechas #info-container #lista-eventos .event-item .info-date-container .city {
    padding: 1px;
    border: .3px #fff solid;
    font-size: .9rem;
  }
  #fechas #info-container #lista-eventos .event-item .info-date-container .venue-container .venue {
    font-size: 1rem;
  }
  #fechas #info-container #lista-eventos .event-item .info-date-container .venue-container .hour {
    font-size: .8rem;
  }
  #fechas #info-container #lista-eventos .event-item #prox {
    font-size: 1.5rem;
  }
  #gallery-section {
    padding: 50px 0;
  }
  #gallery-section #background-gallery {
    background-image: url("");
    background-color: #e9e9e9;
  }
  #gallery-section .title-section {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  #gallery-section .items-containter {
    padding: .5rem;
    width: 70%;
  }
  #gallery-section .items-containter .item {
    grid-template-columns: auto auto;
  }
  #gallery-section .lightbox-container .close-button {
    font-size: 3.5rem;
  }
  #gallery-section .lightbox-container .lightbox-item {
    width: 80%;
  }
  #gallery-section .lightbox-container .arrows {
    font-size: 1.8rem;
    width: 95%;
  }
  #gallery-section .lightbox-container .arrows .arrow {
    padding: .7rem;
  }
  #contacto {
    padding: 50px 0;
  }
  #contacto .title-section {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  #contacto #info-container {
    width: 90%;
    padding: 1rem;
  }
  #contacto #info-container .member {
    font-size: 1.2rem;
  }
  #contacto #info-container .member .name-member {
    font-size: 1.3rem;
  }
  footer {
    padding: 30px 0;
  }
  footer #social-container .subtitle {
    font-size: 1.8rem;
    width: 40%;
  }
  footer #social-container #icons {
    grid-template-columns: auto auto;
  }
}
