@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');   //menu items
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800&display=swap'); //COSMOS logo
@import url('https://fonts.googleapis.com/css?family=Noticia+Text&display=swap'); //intro and album paragraph
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap'); //subtitles h2 and h3

$item-menu: #fff;
$item-menu-hover: rgb(223, 154, 146);
$title-color: #ABA561;
$color-border: rgb(223, 99, 88);
$back-menu-scrolled: rgb(42, 56, 56);
$color-dates: #F23725;


@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin style-subtittles() {
  color: #fff;
  font-size: 3.8rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  border-bottom: .3rem solid $color-border;
  font-family: 'Righteous', cursive;
}

@mixin box-shadows() {
  border: 2px solid rgb(65, 62, 62);
  border-radius: .5rem;
  box-shadow: 0px 50px 60px -25px rgba(0, 0, 0, 0.774);
  -moz-box-shadow: 0px 50px 60px -25px rgba(0, 0, 0, 774);
  -webkit-box-shadow: 0px 50px 60px -25px rgba(0, 0, 0, 774);
  -ms-box-shadow: 0px 50px 60px -25px rgba(0, 0, 0, 774);
}

@mixin box-dates() {
  -webkit-box-shadow: 6px 8px 13px -3px rgba(0,10,3,1);
  -moz-box-shadow: 6px 8px 13px -3px rgba(0,10,3,1);
  box-shadow: 6px 8px 13px -3px rgba(0,10,3,1);
  -ms-box-shadow: 6px 8px 13px -3px rgba(0,10,3,1);
}

html {
  margin: 0;
  font-size: 10px;
}

#navbar {
  z-index: 4;
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 6rem;
  color: #fff;
  transform: translateY(-6rem);
  #menu-list {
    position: absolute;
    left: 2rem;
    font-family: 'Big Shoulders Text', cursive;
    .nav-link {
      color: $item-menu;
      font-size: 2rem;
      letter-spacing: .15rem;
      margin-right: 1.2rem;
      padding: .1rem .7rem;
      text-transform: uppercase;
    }
    .navbar-item:last-child .nav-link {
      margin-right: 0;
    }
    .nav-link:hover {
      color: $item-menu-hover;
    }
  }
  #social-icons {
    position: absolute;
    right: 2rem;
    top: 1rem;
    i {
      padding: 5px;
      font-size: 2rem;
      color: $item-menu;
    }
    i:hover {
      color: $item-menu-hover;
    }
  }
}

.selected { //selected menu item class
  border: 2px solid $item-menu-hover;
  border-radius: .5rem;
}

#navbar.menu-scrolled-down {    ///menu appears sliding from top to bottom
  transform: translateY(0);
  transition: all 1s;
}

#navbar.scroll { //menu setting when scrolled down
  position: fixed;
  background-color: $back-menu-scrolled;
  border-top: 1.8px solid rgb(84, 110, 110);
  border-bottom: 1.8px solid rgb(84, 110, 110);
  transition: all 1s;
  .selected {
    border: 2px solid #fff;
  }
}

@media screen and (max-width: 991px){
  #navbar {
    height: auto;
    background-color: rgba(172, 172, 172, 0.6);
    #button {
      padding: 2px;
      font-size: 23px;
      border: #fff 1px solid;
      color: #fff;
    }
    #menu-list {
      width: 100%;
      position: relative;
      left: 0;
      margin-top: .5rem;
      text-align: center;
      .navbar-item {
        width: 100%;
        margin: 0 auto;
        .nav-link {
          font-weight: bolder;
        }
      }
      .navbar-item:hover {
        border: 1px $color-border solid;
      }
    }
  }
  #navbar.scroll {
    opacity: 0.9;
  }
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
     /* IE10+ CSS styles go here */
     #navbar {
       #menu-list {
         margin-top: -20px;
       }
     }
}
  
#home {
  width: 100%;
  height: 100vh;
  @include center;
  position: relative;
  .items-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .item {
      position: absolute;
      width: 100%;
      height: 100vh;
      opacity: 0;
      transition: opacity 2s ease;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
    @each $name in 'uno' 'dos' 'tres' {
      .item--#{$name} {
        background-image: url('../img/slider/#{$name}.jpg');
      }
    }
    .item.visible {  //classname to make visible an element
      opacity: 1;
    }
  }
  .arrows {
    z-index: 3;
    font-size: 3rem;
    color: #fff;
    position: absolute;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    .arrow {
      background-color: rgba(231, 223, 220, 0.315);
      padding: 2.5rem 1.5rem;
      opacity: .5;
      transition: .2s;
      border-radius: .5rem;
      @include center;
    }
    .arrow:hover {
      opacity: 1;
    }
    .arrow:active {
      background-color: rgb(187, 105, 105);
    }
  }
  .dots {
    width: 100%;
    z-index: 3;
    position: absolute;
    bottom: 1rem;
    display: inline-flex;
    justify-content: center;
    .dot {
      width: 1rem;
      height: 1rem;
      background-color: rgb(209, 201, 201);
      border-radius: 50%;
      margin: .5rem;
      cursor: pointer;
    }
    .dot.active {
      background-color: $color-border;
    }
  }
  #information {
    z-index: 2;
    width: 850px;
    position: absolute;
    @include center;
    flex-direction: column;
    h1 {
      width: 60%;
      color:$title-color;
      font-family: 'Merriweather Sans', sans-serif;
      font-size: 11rem;
      line-height: 1.2;
      letter-spacing: .5rem;
      border-top:  #fff 2px solid;
      border-bottom: #fff 2px solid;
      margin-bottom: 4rem;
    }
    #text-introduccion {
      background-color: rgba(0, 0, 0, 0.76);
      @include box-shadows;
      height: auto;
      width: 90%;
      padding: 2rem;
      p {
        display: block;
        color: #fff;
        font-size: 1.8rem;
        font-family: 'Noticia Text', serif;
        letter-spacing: .2rem;
        text-align: center;
        #cosmos-span {
          color: #ABA561; 
          font-weight: 800; 
          font-size: 2rem;
        }
        #descarga {
          color: $color-border;
          font-weight: bold;
          animation: blink .8s linear infinite;
	      }
        @keyframes blink{
          //0%{opacity: 0;}
          30%{opacity: .3;}
          60%{opacity: .6;}
          100%{opacity: 1;}
        }
      }
      #line {
        border: .5px dotted #fff;
      }
    }
  }
}

#home::before {
  content: "";
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  background-color: rgb(37, 35, 35);
  background-image: url('../img/what-the-hex-dark.png');
  background-repeat: repeat;
  opacity: .55;
}

//Formato de seccion de albumes************
//*****************************************
#album-section {
  border-top: 2.5rem rgba(26, 21, 12, 0.836) solid;
  border-bottom: 2.5rem rgba(26, 21, 12, 0.836) solid;
  width: 100%;
  @include center;
  flex-direction: column;
  background-image: linear-gradient(to bottom right,rgb(63, 73, 73), rgb(86, 102, 102), rgb(72, 88, 88), rgb(89, 104, 104), rgb(63, 73, 73));
 // background-color: rgb(63, 73, 73);
  padding: 100px 0;
  background-attachment: fixed;
  .title-section {
    @include style-subtittles();
  }
  .items-container {
   // width: 65%;
   max-width: 1150px;
    //@include center;
    background-color: rgba(83, 80, 80, 0.733);
    border: .3rem solid rgb(158, 149, 149);
    border-radius: 1rem;
    padding: 2rem;
    .item {
      //width: 100%;
      //max-width: 1250px;
      //background-color: rgba(41, 38, 39, 0.664);
      padding: 1rem;
      .portada-and-description {
        @include center;
        flex-direction: row;
        .img-container{
          width: 35%;
          margin-top: 0;
          .album-title {
            color: #fff;
            font-size: 2.5rem;
            text-align: center;
            border-radius: 1rem 1rem 0 0;
            margin: 0;
            background-color: rgb(53, 61, 61);
            border-top: 1.8px solid rgb(84, 110, 110);
            text-transform: uppercase;
            padding: .4em;
          }
          .img-album {
            width: 100%;
            height: auto;
            @include box-shadows();
            border-radius: 0 0 1rem 1rem;
            border: 2px solid rgb(194, 177, 136);
          }
        }
        .txt-and-playlist {
          width: 65%;
          p {
            display: block;
            color: rgb(255, 255, 255);
            font-size: 1.57rem;
            font-family: 'Noticia Text', serif;
            letter-spacing: .15rem;
            text-align: center;
            padding: 0 2rem;
            a {
              color: rgb(238, 149, 149);
              font-weight: bolder;
            }
          }
          hr {
            margin: 2rem auto;
            width: 90%;
            border: .5px rgb(255, 255, 255) dotted;
          }
          .playlist-container {
            width: 80%;
            margin: auto;
            #spotify-title {
              margin: 0;
              padding: 1.5rem 0;
              width: 100%;
              border-radius: 1rem 1rem 0 0;
              background-color: rgb(53, 61, 61);
              border-top: 1.5px solid rgb(84, 110, 110);
            }
            iframe {
              border-radius: 0 0 1rem 1rem;
              width: 100%;
              border-right: .5px solid rgb(32, 22, 9);
              height: 20rem;
            }
          }
        }
      }
    }
  }
}
//Fin de Formato de seccion de albumes***********
//***********************************************

#video-section {
  background-color: rgb(15, 15, 15);
  width: 100%;
  height: auto;
  padding: 100px 0;
  @include center;
  flex-direction: column;
  .title-section {
    @include style-subtittles();
  }
  .items-container {
    width: 50%;
    .item {
      padding-bottom: 6rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s ease-in;
      .video {
        height: 100%;
        position: relative;
        border: .4rem solid rgb(255, 255, 255);
        border-radius: 1rem;
        box-sizing: border-box;
        iframe {
          border-radius: 1rem;
        }
      }
      .video-title {
        height: 4.5rem;
        color: #fff;
        background-color: rgba(129, 43, 43, 0.836);
        border: .3rem solid rgb(124, 71, 71);
        border-radius: 1rem;
        margin: auto;
        width: 60%;
        box-sizing: border-box;
        margin-top: .5rem;
        h2 {
          font-family: 'Big Shoulders Text', cursive;
          letter-spacing: .3rem;
          font-size: 2rem;
          height: 100%;
          padding: .6rem;
        }
      }
    }
    .item.visible {
      opacity: 1;
      visibility: visible;
    }
  }
  .arrows {
    z-index: 1;
    font-size: 3.5rem;
    color: #fff;
    position: absolute;
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
  }
}

//Inicio de Formato de seccion fechas************
//***********************************************
#fechas {
  @include center;
  flex-direction: column;
  padding-top: 100px 0;
  width: 100%;
  height: 90vh;
  background-image: url("../img/slider/uno.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-top: 2.5rem rgba(26, 21, 12, 0.897) solid;
  border-bottom: 2.5rem rgba(26, 21, 12, 0.897) solid;
  .title-section {
    @include style-subtittles;
    z-index: 1;
  }
  #contenedor-principal {
    @include center();
    #info-container {
      z-index: 0;
      @include center;
      //flex-direction: column;
      width: 600px;
      height: auto;
      #lista-eventos {
        color: #fff;
        width: 100%;
        height: auto;
        list-style-type: none;
        text-transform: uppercase;
        //@include center;
        //flex-direction: column;
        padding-left: 0;
        @include box-shadows;
        background-color: rgba(0, 0, 0, 0.616);
        border-radius: 1rem;
        padding: 1rem 0;
        .event-item {
          width: 100%;
          position: relative;
          @include center;
          font-family: 'PT Serif', serif;
          border-bottom: .1rem #fff dotted;
          .date-container {
            width: 20%;
            .date {
              margin: auto;
              @include center;
              flex-direction: column;
              background-color: $color-dates;
              width: 8rem;
              @include box-dates();
              letter-spacing: .2rem;
              .day {
                font-size: 3.5rem;
                margin-bottom: -15px;
              }
              .month {
                font-size: 2.5rem;
                margin-bottom: -5px;
              }
              .year {
                font-size: 1.5rem;
                padding-bottom: .5rem;
              }
            }
          }
          .info-date-container {
            width: 75%;
            @include center;
            .city {
              @include center();
              width: 150px;
              padding: 2rem;
              font-size: 1.5rem;
              border: 2px #fff solid;
            }
            .venue-container {
              width: 65%;
              .venue {
                font-size: 1.7rem;
                text-align: center;
                a {
                  color: #fff;
                }
              }
              .hour {
                font-size: 1.6rem;
                color: rgb(231, 97, 97);
                font-weight: bold;
              }
            }
          }
        }
        .event-item:last-child {
          border-bottom: 0 #fff dotted;
        }
      }
    }
  }
}


#fechas::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 90px;
  background-color: rgb(37, 35, 35);
  background-image: url('../img/what-the-hex-dark.png');
  background-repeat: repeat;
  opacity: .65;
}
//Fin de Formato de seccion fechas***************
//***********************************************


//INICIO DE SECCION GALERIA///////////////
//***************************************
#gallery-section {
  @include center();
  flex-direction: column;
  height: auto;
  background-image: url("../img/back-gallery-section.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  position: relative;
  .title-section {
    @include style-subtittles();
    color: rgb(0, 0, 0);
  }
  .items-containter {
    padding: 2rem;
    width: 70%;
    height: auto;
    background-color: rgba(44, 53, 61, 0.767);
    border-radius: .5rem;
    .item {
      padding: 1rem;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 1rem;
      align-items: center;
      align-self: stretch;  
      .img-container {
        border: 1px solid rgb(190, 184, 184);
        img {
          padding: .7rem;
          width: 100%;
          height: auto;
          cursor: pointer;
        }
      }
    }
    .lightbox-container {
      z-index: 4;
      @include center();
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(20, 19, 19, 0.76);
      visibility: hidden;
      opacity: 0;
      transition: all .3s;
      .close-button {
        position: absolute;
        top: 4rem;
        right: 6rem;
        font-size: 5rem;
        color: rgb(197, 101, 101);
      }
      .lightbox-item {
        width: 55%;
        background-color: rgba(233, 233, 233, 0.904);
        position: absolute;
        padding: 1rem;
        border-radius: 1rem;
        -webkit-box-shadow: 4px 4px 16px 1px rgba(0,0,0,1);
        -moz-box-shadow: 4px 4px 16px 1px rgba(0,0,0,1);
        box-shadow: 4px 4px 16px 1px rgba(0,0,0,1);
        border-bottom: .2rem solid rgb(31, 29, 29);
        border-right: .2rem solid rgb(31, 29, 29);
        border-left: .2rem solid #fff;
        border-top: .2rem solid #fff;
        opacity: 0;
        visibility: hidden;
        .lb-img {
          width: 100%;
          height: auto;
          border-radius: .5rem;
          border-left: .2rem solid rgb(31, 29, 29);
          border-top: .2rem solid rgb(31, 29, 29);
          border-right: .2rem solid #fff;
          border-bottom: .2rem solid #fff;
          box-sizing: border-box;
        }
      }
      .lightbox-item.visible {
        visibility: visible;
        opacity: 1;
        transition: all .7s;
      }
      .arrows {
        position: absolute;
        font-size: 4rem;
        color: #fff;
        width: 70%;
        display: inline-flex;
        justify-content: space-between;
        .arrow {
          padding: 2rem;
          background-color: rgba(228, 213, 213, 0.637);
        }
        #left-arrow {
          border-radius: 1rem 0 0 1rem;
        }
        #right-arrow {
          border-radius: 0 1rem 1rem 0;
        }
        .arrow:hover{
          background-color: rgba(230, 180, 180, 0.5);
          transition: all .2s;
        }
      }
    }
    .lightbox-container.active {
      visibility: visible;
      opacity: 1;
      transition: all .6s;
    }
  }
}
//FIN DE SECCION GALERIA///////////////
//***************************************


//Inicio de Formato de seccion contacto**********
//***********************************************
#contacto {
  @include center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgb(15, 15, 15);
  padding: 100px 0;
  .title-section {
    @include style-subtittles();
    margin: 2rem;
  }
  #info-container {
    width: 40%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 2rem;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    #band-members {
      padding: 2rem;
      margin: auto;
      width: 90%;
      background-color: rgb(46, 53, 51);
    }
    .member {
      font-size: 1.5rem;
      letter-spacing: .15rem;
      color: #fff;
      font-family: 'Noticia Text', serif;   
      .name-member {
        text-transform: uppercase;
        color: rgb(156, 151, 93);  
        font-size: 2rem;
        font-weight: 800;
      }
    }
    .subtitle {
      color: #fff;
      font-size: 2.7rem;
      text-transform: uppercase;
      border-bottom: .2rem solid rgb(180, 93, 93);
      font-family: 'Righteous', cursive;
      width: 50%;
      text-align: center;
      margin: auto;
    }
    #contacto-email {
      font-size: 2rem;
      letter-spacing: .18rem;
      color: #fff;
      font-family: 'Big Shoulders Text', cursive;
    }
  }
}
//Fin de Formato de seccion contacto*************
//***********************************************

//Footer///////////////////
footer {
  padding: 80px 0;
  width: 100%;
  background-color: rgb(43, 42, 42);
  #social-container {
    border-right: 1px dotted gray;
    @include center;
    flex-direction: column;
    .subtitle {
      color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
      border-bottom: .2rem solid rgb(180, 93, 93);
      font-family: 'Righteous', cursive;
      width: 20%;
      text-align: center;
      margin-bottom: 2rem;
    }
    #icons {
      display: grid;
      grid-template-columns: auto auto auto auto;
      display: -ms-grid;
      -ms-grid-columns: auto auto auto auto;
      align-items: center;
      align-self: center;
      grid-gap: 2rem;
      width: auto;
      .social-icon {
        position: relative;
        width: 100px;
        height: 100px;
        padding-bottom: 1rem;
        border-radius: 1rem 1rem 0 0;
        border: 1.5px solid rgb(93, 116, 93);
        @include center;
        background-color: #2C4540;
        i {
          padding-bottom: 1rem;
          font-size: 3.5rem;
          color: rgb(123, 156, 142);
        }
        .social-name {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #6CA89D;
          color: #fff;
          width: 100%;
          font-size: 1.7rem;
          text-align: center;
          font-weight: 600;
        }
      }
      .social-icon:hover {
        background-color: #6CA89D;
        i {
          color: #fff;
        }
        .social-name {
          background-color: #2C4540;
          color: #fff;
        }
      }
    }
  }
}
///////////////////////////////////

@media screen and (max-width: 980px) {
  #home {
    height: 70vh;
    .items-container {
      height: 70vh;
      .item {
        height: 70vh;
      }
      @each $var in 'uno' 'dos' 'tres' {
        .item--#{$var} {
          content: url('../img/slider/#{$var}-mobile.jpg');
        }  
      }
    }
    .arrows {
      font-size: 2rem;
      .arrow {
        padding: 2.2rem 1.2rem;
      }
    }
    .dots {
      .dot {
        width: 6px;
        height: 6px;
      }
    }
    #information {
      width: 70%;
      h1 {
        font-size: 7vw;
        margin-bottom: 2rem;
      }
      #text-introduccion {
        width: 95%;
        padding: 1rem;
        p {
          font-size: 1.5rem;
          #cosmos-span {
            font-weight: 600; 
            font-size: 1.7rem;
          }
        }
      }
    }
  }

  #home::before {
    height: 70vh;
  }

  #album-section {
    .items-container {
      width: 80%;
      .item {
        .portada-and-description {
          flex-direction: column;
          .img-container{
            width: 40%;
            padding-bottom: 1.5rem;
            .album-title {
              font-size: 2rem;
            }
          }
          .txt-and-playlist {
            width: 95%;
            p {
              width: 100%;
              padding: 0;
              font-size: 1.4rem;
            }
            .playlist-container {
              width: 90%;
              iframe {
                height: 170px;
              }
            }
          }
        }
      }
    }
  }

  #video-section {
    .title-section {
      margin-bottom: 2.5rem;
    }
    .items-container {
      width: 80%;
      .item {
        .video {
          border: .2rem solid rgb(255, 255, 255);
          border-radius: .5rem;
        }
        .video-title {
          border-radius: .5rem;
          width: 50%;
          h2 {
            font-size: 1.7rem;
            padding: 1rem;
          }
        }
      }
    }
    .arrows {
      font-size: 2rem;
      width: 95%;
    }
  }

  #fechas {
    content: url("../img/slider/uno-mobile.jpg");
    #contenedor-principal {
      #info-container {
      width: 550px;
        #lista-eventos {
          .event-item {
          padding: .5rem 0;
            .date-container {
              .date {
                width: 7rem;
               // height: 110px;
                .day { font-size: 3rem; }
                .month { font-size: 2rem; }
                .year { font-size: 1rem; }
              }
            }
            .info-date-container {
              .city { 
                padding: 1rem;
                border: 1px #fff solid;
                font-size: 1.3rem; 
              }
              .venue-container {
                .venue { font-size: 1.5rem; }
                .hour { font-size: 1.3rem; }
              }
            }
          }
        }
      }
    }
  }

  #gallery-section {
  content: url("../img/back-gallery-section-mobile.jpg");
    .items-containter {
      padding: 1rem;
      width: 80%;
      .item {
        padding: .5rem;
        grid-template-columns: auto auto auto;
        grid-gap: .5rem;
        .img-container {
          img {
            padding: .4rem;
          }
        }
      }
      .lightbox-container {
        .close-button {
          font-size: 4rem;
        }
        .lightbox-item {
          width: 75%;
          padding: .5rem;
        }
        .arrows {
          font-size: 2rem;
          width: 90%;
          .arrow {
            padding: 1rem;
          }
        }
      }
    }
  }

  #contacto {
    #info-container {
      width: 70%;
      padding: 1rem;
      #band-members {
        width: 100%;
      }
      .member {
        font-size: 1.4rem;
        .name-member {
          font-size: 1.6rem;
          font-weight: 600;
        }
      }
      .subtitle {
        font-size: 2rem;
        width: 60%;
      }
      #contacto-email {
        font-size: 1.7rem;
      }
    }
  }

  footer {
    padding: 50px 0;
    #social-container {
      .subtitle {
        font-size: 2rem;
        width: 20%;
      }
      #icons {
        grid-template-columns: auto auto auto auto;
        grid-gap: 1rem;
        .social-icon {
          width: 80px;
          height: 80px;
          border: 1px solid rgb(93, 116, 93);
          i {
            font-size: 2.8rem;
            color: rgb(123, 156, 142);
          }
          .social-name {
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #home {
    height: 50vh;
    .items-container {
       height: 50vh;
       .item {
         height: 50vh;
       }
    }
    .arrows {
      visibility: hidden;
    }
    #information {
      width: 80%;
      h1 {
        font-size: 7vw;
      }
      #text-introduccion {
        width: 100%;
        padding: 1rem;
        p {
          font-size: 2.1vw;
        }
      }
    }
  }
  #home::before {
    height: 50vh;
  }

  #album-section {
    .items-container {
      width: 90%;
      .item {
        .portada-and-description {
          .img-container{
            width: 50%;
            padding-bottom: 1.5rem;
            .album-title {
              font-size: 1.5rem;
            }
          }
          .txt-and-playlist {
            width: 100%;
            p {
              font-size: 2.1vw;
            }
            .playlist-container {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #video-section {
    padding: 50px 0;
    .items-container {
      width: 90%;
      .item {
        .video-title {
          border-radius: .4rem;
          width: 80%;
          height: 3rem;
          h2 {
            font-size: 1.5rem;
            padding: .2rem;
          }
        }
      }
    }
    .arrows {
      position: relative;
      bottom: 5.5rem;
      width: 90%;
    }
  }

  #fechas {
    #contenedor-principal {
      #info-container {
      width: 90%;
        #lista-eventos {
          .event-item {
          padding: 1rem 0;
            .date-container {
              .date {
                width: 6rem;
                .day { font-size: 2.8rem; }
                .month { font-size: 1.8rem; }
                .year { font-size: 1rem; }
              }
            }
            .info-date-container {
              .city { 
                padding: .5rem;
                border: .5px #fff solid;
                font-size: 1.2rem; 
              }
              .venue-container {
                .venue { font-size: 1.2rem; }
                .hour { font-size: 1.1rem; }
              }
            }
          }
        }
      }
    }
  }

//gallery

  #contacto {
    /*.title-section {
      font-size: 2.5rem;
    }*/
    #info-container {
      width: 90%;
      padding: 1rem;
      .member {
        font-size: 1.2rem;
        .name-member {
          font-size: 1.3rem;
        }
      }
    }
  }

  footer {
    #social-container {
      .subtitle {
        font-size: 2rem;
        width: 70%;
      }
      #icons {
        grid-template-columns: auto auto;
      }
    }
  }
}